<ion-header>
  <ion-toolbar>
    <ion-title>A propos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1>Qui-suis-je ?</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="9">
        <p>Je suis Pierre-Jean BONAZZI, originaire des Vosges (rpz les Vosgiens !). Dans la vie, j'aime bien regarder des films et des séries, jouer aux jeux-vidéos et le sport automobile (formule 1, rallye...)</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <h2>Ma passion pour les jeux-vidéos</h2>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col style="display: flex; justify-content: center">
        <p>C'est depuis mon plus jeune age que je suis tombé dans cette boucle infernale des jeux vidéos, j'ai commencé avec la ps1 de mes parents lorsque j'avais 5-6 ans. Puis j'ai enchainé avec tous types de console : Nintendo DS, Psp, Ps3, Ps4, PC, Wii, Wii U, Gameboy color, Nes, Switch... J'ai commencé également à acheter tout types d'accessoires pour pouvoir jouer aux mieux : Logitech G19, PsVr, setup, home cinéma. Je pense avoir eu dans ma vie pas moins de 600-700 jeux (toutes consoles confondues)</p>
        <img src="/assets/img/giphy.gif">
        <p>Mes styles préférés de jeux sont plutôt les FPS de tir ou de guerre (Battlefield 1, Medal of Honor...), les Roguelikes (Hades, The Binding of Isaac...) et surtout, pas dessus tout les simu-racing (Forza, Dirt, Project Cars, Asseto Corsa, Grans Turismo...)</p>
      </ion-col>
    </ion-row>
  </ion-grid>
  <img src="/assets/img/david-goodenough-joueur-du-grenier.gif" style="width: 100px; height: 50px;">
</ion-content>
