<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Jeux-Vidéos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div style="text-align: center">
    <h1>Bienvenue dans la sainte bibliothèque du jeux-vidéos</h1>
    <div>
      <p>Vous trouverez dans cette bibliothèque la liste de mes jeux-vidéos préférés</p>
      <p>Vous pouvez également ajoutez vos propres jeux pour que je puisse m'instruire et les tester :)</p>
      <p>Bonne continuation sur ce site !</p>
    </div>
    <br>
    <hr>
    <img src="/assets/img/voe5kgz.gif">
  </div>
</ion-content>
